body{ 
    width:  95%;
    max-width: 800px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;	
    color: #222;
    background: #eee;
}

.imagem {
  text-align: center;
}

 .imagem img {
  padding: 5px;
  border-radius: 50%;
  margin-top: 25px;
  background: #fff; /* borda branca circular da minha foto */
  max-width:250px;
  text-align: center;
}
.container {
  max-width: 700px;   
  margin: 0px auto 0px; 
  box-shadow: 0px 15px 35px #DAD7D7;
  border-radius: 3px;  
  padding: 40px;
  margin-top: 50px;
  background: #fff;
} /* Para inicio da organização. provavelmente vou tirar depois */

.nomeCompleto{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .primeiroNome{
    font-weight: 700;
  }
  
  .ultimoNome{
    font-weight: 300;
  }
  
  .contato-info{
    margin-bottom: 20px;
  }
  
  .email, .telefone {
    color: #999;
    font-weight: 300;
  } 

  .esquerda, .direita{
    vertical-align: top;
    display: inline-block;
  }
  
  .esquerda{
    width: 60%;    
  }
  
  .direita{
    text-align: right;
    width: 39%;    
  }

  .fundoCima{ 
    text-align:center;
    background-color:#383839;
    color:#fff;
    padding:5%;
   }

  h3, h2{
    text-decoration: underline;
    }


table{
    border: 1px dashed black;
    }

td{
    padding: 2px;
    border: 1px solid #00CED1;
    }



    #textoDestaque{
    font-weight:bold;
    }

#cabecalho{
    font-weight:bold;
    }

    /* Barras de habilidades referentes as linguagens de programação */

    .habilidades{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.habilidades .habilidade{
  margin: 20px 0;
}
.habilidades .habilidade:first-child{
  margin-top: 0px;
}
.habilidades .habilidade .info{
  margin-bottom: 5px;
}
.habilidades .habilidade .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.habilidades .habilidade .b{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.habilidade .b span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #2D7FB9;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.habilidade .b.java span{
  width: 24%;
}
.habilidade .b.python span{
  width: 23%;
}
.habilidade .b.css span{
  width: 30%;
}
.habilidade .b.html span{
  width: 60%;
}
.habilidade .b.javascript span{
  width: 20%;
}
.habilidade .b.CC span{ 
    width: 35%;
}
.b span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.b span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.b.java span::after{
  content: "24%";
}
.b.python span::after{
  content: "23%";
}
.b.css span::after{
  content: "30%";
}
.b.html span::after{
  content: "60%";
}
.b.javascript span::after{
  content: "20%";
}
.b.CC span::after{ 
    content:"35%";
}



/* Fim das barras de habilidade referente aos conhecimentos de programação */


/* Começo graficos circulares ferentes aos frameworks de criação de sites e aplicativos usando svg */
.graficoCircular{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 100vh;
 }

 .containergraf{ 
   width: 900px;
   display: flex;
   flex-wrap: wrap; 
   justify-content: space-around;
 }

 .containergraf .carde{ 
    position: relative;
    width: 200px;
    height: 250px;
    text-align: center;
    z-index: 10;
    margin: 20px 20px 60px;
 }

 .containergraf .carde .box{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgb(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    z-index: 10;
    border-radius: 10px;
    background: #c1c1c1;
 }

 .porcentagem { 
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;

 }

 .porcentagem .numeros{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .porcentagem .numeros h2{
    
    font-weight: 700;
    font-size: 30px;
  }

  .porcentagem .numeros h2 span{ 
    font-size: 20px
  }

  .texto{ 
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px 20px 10px;
    background: #f00;
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
    transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
    transition-delay: 0.5s, 0.5s, 0s, 0.5s;
    color: #fff;
  }

  .carde:hover .texto{ 
    transition-delay: 0s, 0.5s, 0.5s, 0s;
    bottom: -70px;
    z-index: 11;
    transform: translateX(-50%) translateY(-50px);
    padding: 10px 20px 10px;
  }

  .carde:nth-child(1) .texto{ 
    background: #18d539;
  }
  .carde:nth-child(2) .texto{ 
    background: #2bd2ff;
  }
  .carde:nth-child(3) .texto{ 
    background: #00ffff;
  }

  svg{ 
    position: relative;
    width: 150px;
    height: 150px;
    
   }

  svg circle{ 
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: rgba(255,255,255, 0.05);
    transform: translate(5px,5px);
    stroke-linecap: round;
  }

  svg circle:nth-child(2){ 
    stroke: #fff;
    stroke-dasharray: 440px;
    stroke-dashoffset: 110px;

  }

  .carde:nth-child(1) svg circle:nth-child(2){ 
stroke-dashoffset: calc(440px - (440px * 2)/ 100);
  }

  .carde:nth-child(2) svg circle:nth-child(2){ 
stroke-dashoffset: calc(440px - (440px * 7)/ 100);
  }

.carde:nth-child(3) svg circle:nth-child(2){ 
stroke-dashoffset: calc(440px - (440px * 5)/ 100);
  }


/* fim graficos circulares ferentes aos frameworks de criação de sites e aplicativos usando svg */